<!-- Lets add navigation bar in Headre, bootstrap style -->
<!-- #1  navbar is bootstrap class -->

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- add clickable header, add ancor tag -->
            <a 
            href="#"
            class="navbar-brand">
                Recipe Book</a>
        </div>
        <!-- Add links -->
        <!-- Note: no way of accessing our links on smaller screen, 
        use navbar-default instead navbar-colappse -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!-- <li><a href="#" (click)="onSelect('recipe')">Recipes</a></li>
                <li><a href="#" (click)="onSelect('shopping-list')">Shopping List</a></li> -->
                <li><a routerLink="/recipes">Recipes</a></li>
                <li><a routerLink="/shopping-list">Sopping List</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li 
                    class="dropdown"
                    appDropdown>
                    <a 
                    href="#" 
                    class="dropdown-toggle" 
                    role="button">
                    Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Save Data</a></li>
                        <li><a href="#">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

