<!-- ngFor to loop all the recipe = dynmaic content -->
<a 
  href="#"
  class="list-group-item clearfix"
  (click)="onSelected()">
  <div class="pull-left">
  <!-- fill Recipe Name, Description and src with dynamic data -->
  <!-- This is directlly connected to recipe.model -->
  <!-- Recipe Name: recipe.name etc. -->
      <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
      <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
  <span class="pull-right">
      <img 
          [src]="recipe.imagePath"
          alt="{{ recipe.name }}" 
          class="img-responsive" 
          style="max-height: 50px;">
  </span>
</a>