<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
       <app-recipe-item 
        *ngFor="let recipeEl of recipes"
        [recipe]='recipeEl'></app-recipe-item> 
    </div>
</div>

<!-- alternative to image string manipulation:
src=" {{ recipe.imagePath }}" -CANT BYPASS SECURITY
[src]="recipe.imagePath" ===== directlly binding property-->